<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correlation Heatmap</title>
  </head>
  <body>
    <div>
      <img src="{{ url_for('static', filename = heatMapSrc) }}" />
    </div>
    <div>
      <form action="{{ url_for('static', filename = heatMapWebPage) }}">
        <input type="submit" value="Higher quality image" />
      </form>
      <h3>Choose columns to drop</h3>
      <form action="" method="post" novalidate>
        {% for val in colHeaders: %}
        <p>{{ form|attr(val) }} {{ val }}</p>
        {% endfor %}

        <p>{{ form.submit() }}</p>
      </form>
    </div>
  </body>
</html>
