<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Subsets</title>
  </head>
  <body>

    <h1>{{filename}}</h1>
    {{data | safe}}

    <h3>Choose which columns to use to create a subset</h1>
    <form action="" method="post" novalidate>
      {% for val in colHeaders: %}
      <p>{{ form|attr(val) }} {{ val }}</p>
      {% endfor %}

      <p>{{ form.subsetName() }}</p>
      <p>{{ form.submit() }}</p>
    </form>
  </body>
</html>
